<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />  
<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Ordini</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/lista-ordini">Lista Ordini</a></li>
                    <li class="breadcrumb-item active">Inserisci Ordine</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
 <!-- Full screen modal Cliente --> 
<div id="exampleModalFullscreen" class="modal fade" tabindex="-1"  aria-labelledby="#exampleModalFullscreenLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalFullscreenLabel">Clienti</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive mb-4">
                    <table id="datatable-buttons" class="table table-centered datatable nowrap mb-0 table-card-list tabClienti">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Indirizzo</th>
                                <th>Citta</th>
                                <th>Cap</th>
                            </tr>
                        </thead>
                        <tbody id="modal-body">
                                
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="buttonOk" class="btn btn-light waves-effect" data-bs-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Full screen modal Articolo --> 
<div id="exampleModalFullscreenArticolo" class="modal fade" tabindex="-1"  aria-labelledby="#exampleModalFullscreenLabelArticolo" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalFullscreenLabelArticolo">Articoli</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive mb-4">
                    <table id="datatable-buttons-Articolo" class="table table-centered datatable nowrap mb-0 table-card-list tabArticolo">
                        <thead>
                            <tr>
                                <th>Codice</th>
                                <th>Descrizione</th>
                                <th>Quantità</th>
                                <th>Costo</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody id="modal-body-Articolo">
                                
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="buttonOkArticolo" class="btn btn-light waves-effect" data-bs-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Inserisci Ordine</h4>
                <div id="basic-example">
                    <!-- Seller Details -->
                    <h3>Dati Cliente</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-firstname-input">Nome</label>
                                        <input type="text" class="form-control" id="basicpill-firstname-input" onclick="fetchDataFromMongoDB()" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-lastname-input">Cognome</label>
                                        <input type="text" class="form-control" id="basicpill-lastname-input" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Telefono</label>
                                        <input type="text" class="form-control" id="basicpill-phoneno-input" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input">Email</label>
                                        <input type="email" class="form-control" id="basicpill-email-input" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="basicpill-address-input">Indirizzo</label>
                                        <input type="text" class="form-control" id="basicpill-address-input" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="basicpill-citta-input">Città</label>
                                        <input type="text" class="form-control" id="basicpill-citta-input" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="basicpill-cap-input">Cap</label>
                                        <input type="text" class="form-control" id="basicpill-cap-input" disabled>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>

                    <!-- Company Document -->
                    <h3>Dati Articolo</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-pancard-input">Codice</label>
                                        <input type="text" class="form-control" id="basicpill-pancard-input" onclick="fetchDataFromMongoDBArticolo()" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreenArticolo">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-vatno-input">Descrizione</label>
                                        <input type="text" class="form-control" id="basicpill-vatno-input" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-cstno-input">Quantità</label>
                                        <input type="text" class="form-control" id="basicpill-cstno-input" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-servicetax-input">Costo unitario</label>
                                        <input type="text" class="form-control" id="basicpill-servicetax-input" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-cardno-input">Quantità</label>
                                        <input type="text" class="form-control" id="basicpill-cardno-input" type="number" step="any" required>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-card-verification-input">Sconto</label>
                                        <input type="text" class="form-control" id="basicpill-card-verification-input" type="number" step="any" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Note</label>
                                        <textarea id="basicpill-companyuin-input" class="form-control" rows="2"></textarea>
                                    </div>
                                </div>                         
                            </div>
                        </form>
                    </section>

                    <!-- Bank Details -->
                    <h3>Dati Ordine</h3>
                    <section>
                        <div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-cardno-input">Quantità</label>
                                            <input type="text" class="form-control" id="basicpill-cardno-input" type="number" step="any" required>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-card-verification-input">Sconto</label>
                                            <input type="text" class="form-control" id="basicpill-card-verification-input" type="number" step="any" required>
                                        </div>
                                    </div>
                                </div>
                            </form>
                          </div>
                    </section>

                    <!-- Confirm Details -->
                    <h3>Riepilogo</h3>
                    <section>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center">
                                    <div class="mb-4">
                                        <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                                    </div>
                                    <div>
                                        <h5>Confirm Detail</h5>
                                        <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-4">
        <div class="card checkout-order-summary">
            <div class="card-body">
                <div class="p-3 bg-light mb-4">
                    <h5 class="font-size-16 mb-0">Riepilogo ordine <span class="float-end ml-2">#MN0124</span></h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-centered mb-0 table-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0" style="width: 110px;" scope="col">Articolo</th>
                                <th class="border-top-0" scope="col">Descrizione</th>
                                <th class="border-top-0" scope="col">Prezzo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><img src="public/assets/images/product/img-1.png" alt="product-img" title="product-img" class="avatar-md"></th>
                                <td>
                                    <h5 class="font-size-14 text-truncate"><a href="ecommerce-product-detail" class="text-dark">Nike N012 Running Shoes</a></h5>
                                    <p class="text-muted mb-0">$ 260 x 2</p>
                                </td>
                                <td>$ 520</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="public/assets/images/product/img-2.png" alt="product-img" title="product-img" class="avatar-md"></th>
                                <td>
                                    <h5 class="font-size-14 text-truncate"><a href="ecommerce-product-detail" class="text-dark">Adidas Running Shoes</a></h5>
                                    <p class="text-muted mb-0">$ 260 x 1</p>
                                </td>
                                <td>$ 260</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">SubTotale :</h5>
                                </td>
                                <td>
                                    $ 780
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Sconto :</h5>
                                </td>
                                <td>
                                    - $ 78
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Trasporto :</h5>
                                </td>
                                <td>
                                    $ 25
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Tasse :</h5>
                                </td>
                                <td>
                                    $ 18.20
                                </td>
                            </tr>                              
                                
                            <tr class="bg-light">
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Totale:</h5>
                                </td>
                                <td>
                                    $ 745.2
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<script>
    async function fetchDataFromMongoDB() {
        await fetch(`/lista-clienti-fetch`)
       .then(function(res){
           return res.json();
       })
       .then(function(utente){
           // Rimuovi tutte le righe esistenti
           var table = $('#datatable-buttons').DataTable();
            table.clear().draw();
           // Aggiungi nuove righe (esempio)
           var newData = [];
           utente.forEach(item => {
            const nome = (item.nome !== undefined) ? item.nome : " ";
            const cognome = (item.cognome !== undefined) ? item.cognome : " ";
            const telefono = (item.telefono !== undefined) ? item.telefono : " ";
            const email = (item.email !== undefined) ? item.email : " ";
            const indirizzo = (item.indirizzo !== undefined) ? item.indirizzo : " ";
            const citta = (item.citta !== undefined) ? item.citta : " ";
            const cap = (item.cap !== undefined) ? item.cap : " ";
            var dati = [nome, cognome, telefono, email, indirizzo, citta, cap];
            newData.push(dati);
            })
            console.log(newData);
            table.rows.add(newData).draw();

            // Gestisci l'evento di clic sulla riga
            $('#datatable-buttons tbody').on('click', 'tr', function () {
                // Ottieni i dati della riga cliccata
                var data = table.row(this).data();

                // Estrai il contenuto della colonna "Nome"
                var nome = data[0]; 
                var cognome = data[1]; 
                var telefono = data[2];
                var email = data[3]; 
                var indirizzo = data[4]; 
                var citta = data[5]; 
                var cap = data[6]; 
                // Fai qualcosa con il valore del nome, ad esempio, mostra in console

                // Ottieni il riferimento al pulsante con l'ID "buttonOk"
                var buttonOk = document.getElementById("buttonOk");

                // Simula il clic sul pulsante
                if (buttonOk) {
                    // Ottieni il riferimento all'elemento di input
                    var inputElementfirstname = document.getElementById("basicpill-firstname-input");
                    var inputElementlastname = document.getElementById("basicpill-lastname-input");
                    var inputElementphoneno = document.getElementById("basicpill-phoneno-input");
                    var inputElementemail = document.getElementById("basicpill-email-input");
                    var inputElementaddress = document.getElementById("basicpill-address-input");
                    var inputElementcitta = document.getElementById("basicpill-citta-input");
                    var inputElementcap = document.getElementById("basicpill-cap-input");

                    // Imposta il nuovo valore dell'input
                    if (inputElementfirstname) {
                        inputElementfirstname.value = nome;
                        // Aggiungi l'attributo "disabled" all'elemento input
                        inputElementfirstname.disabled = true;
                    }
                    if (inputElementlastname) {
                        inputElementlastname.value = cognome;
                    }
                    if (inputElementphoneno) {
                        inputElementphoneno.value = telefono;
                    }
                    if (inputElementemail) {
                        inputElementemail.value = email;
                    }
                    if (inputElementaddress) {
                        inputElementaddress.value = indirizzo;
                    }
                    if (inputElementcitta) {
                        inputElementcitta.value = citta;
                    }
                    if (inputElementcap) {
                        inputElementcap.value = cap;
                    }
                    buttonOk.click();
                }
            });
       })
   }
   async function fetchDataFromMongoDBArticolo() {
        await fetch(`/lista-articoli-fetch`)
       .then(function(res){
           return res.json();
       })
       .then(function(articolo){
           // Rimuovi tutte le righe esistenti
           var tableArticolo = $('#datatable-buttons-Articolo').DataTable();
            tableArticolo.clear().draw();
           // Aggiungi nuove righe (esempio)
           var newDataArticolo = [];
           articolo.forEach(itemarticolo => {
            const codiceArticolo = (itemarticolo.codiceArticolo !== undefined) ? itemarticolo.codiceArticolo : " ";
            const descrizioneArticolo = (itemarticolo.descrizioneArticolo !== undefined) ? itemarticolo.descrizioneArticolo : " ";
            const quantitaArticolo = (itemarticolo.quantitaArticolo.$numberDecimal !== undefined) ? itemarticolo.quantitaArticolo.$numberDecimal : " ";
            const costoArticolo = (itemarticolo.costoArticolo.$numberDecimal !== undefined) ? itemarticolo.costoArticolo.$numberDecimal : " ";
            const noteArticolo = (itemarticolo.noteArticolo !== undefined) ? itemarticolo.noteArticolo : " ";
            var datiarticolo = [codiceArticolo, descrizioneArticolo, quantitaArticolo, costoArticolo, noteArticolo];
            newDataArticolo.push(datiarticolo);
            })
            console.log(newDataArticolo);

            tableArticolo.rows.add(newDataArticolo).draw();

            // Gestisci l'evento di clic sulla riga
            $('#datatable-buttons-Articolo tbody').on('click', 'tr', function () {
                // Ottieni i dati della riga cliccata
                var dataArticolo = tableArticolo.row(this).data();

                // Estrai il contenuto della colonna "Nome"
                var codiceArticolo = dataArticolo[0]; 
                var descrizioneArticolo = dataArticolo[1]; 
                var quantitaArticolo = dataArticolo[2];
                var costoArticolo = dataArticolo[3]; 
                var noteArticolo = dataArticolo[4];
                // Fai qualcosa con il valore del nome, ad esempio, mostra in console

                // Ottieni il riferimento al pulsante con l'ID "buttonOkArticolo"
                var buttonOkArticolo = document.getElementById("buttonOkArticolo");

                // Simula il clic sul pulsante
                if (buttonOkArticolo) {
                    // Ottieni il riferimento all'elemento di input
                    var inputElementpancard = document.getElementById("basicpill-pancard-input");
                    var inputElementvatno= document.getElementById("basicpill-vatno-input");
                    var inputElementcstno = document.getElementById("basicpill-cstno-input");
                    var inputElementservicetax = document.getElementById("basicpill-servicetax-input");
                    var inputElementcompanyuin = document.getElementById("basicpill-companyuin-input");
                
                    // Imposta il nuovo valore dell'input
                    if (inputElementpancard) {
                        inputElementpancard.value = codiceArticolo;
                        // Aggiungi l'attributo "disabled" all'elemento input
                        inputElementpancard.disabled = true;
                    }
                    if (inputElementvatno) {
                        inputElementvatno.value = descrizioneArticolo;
                    }
                    if (inputElementcstno) {
                        inputElementcstno.value = quantitaArticolo;
                    }
                    if (inputElementservicetax) {
                        inputElementservicetax.value = costoArticolo;
                    }
                    if (inputElementcompanyuin) {
                        inputElementcompanyuin.value = noteArticolo;
                    }
                   
                    buttonOkArticolo.click();
                }
            });
       })
   }
 </script>

<!-- jquery step -->
<script src="public/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<!-- Required datatable js -->
<script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Buttons examples -->
<script src="public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="public/assets/libs/jszip/jszip.min.js"></script>
<script src="public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- form wizard init -->
<script src="public/assets/js/pages/form-wizard.init.js"></script>
<!-- init js -->
<script src="public/assets/js/pages/ordini-inserisci.js"></script>


<%- contentFor('BottomJs') %>