<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />  
<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Ordini</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/lista-ordini">Lista Ordini</a></li>
                    <li class="breadcrumb-item active">Inserisci Ordine</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
 <!-- Full screen modal Cliente --> 
<div id="exampleModalFullscreen" class="modal fade" tabindex="-1"  aria-labelledby="#exampleModalFullscreenLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalFullscreenLabel">Clienti</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive mb-4">
                    <table id="datatable-buttons" class="table table-centered datatable nowrap mb-0 table-card-list tabClienti">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Indirizzo</th>
                                <th>Citta</th>
                                <th>Cap</th>
                            </tr>
                        </thead>
                        <tbody id="modal-body">
                                
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="buttonOk" class="btn btn-light waves-effect" data-bs-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Full screen modal Articolo --> 
<div id="exampleModalFullscreenArticolo" class="modal fade" tabindex="-1"  aria-labelledby="#exampleModalFullscreenLabelArticolo" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalFullscreenLabelArticolo">Articoli</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive mb-4">
                    <table id="datatable-buttons-Articolo" class="table table-centered datatable nowrap mb-0 table-card-list tabArticolo">
                        <thead>
                            <tr>
                                <th>Codice</th>
                                <th>Descrizione</th>
                                <th>Quantità disponibile</th>
                                <th>Costo</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody id="modal-body-Articolo">
                                
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="buttonOkArticolo" class="btn btn-light waves-effect" data-bs-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="row">
    <!-- Dati Cliente/Articolo --> 
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Inserisci Ordine</h4>
                <div id="basic-example">
                    <!-- Seller Details -->
                    <h3>Dati Cliente</h3>
                    <section >
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="nomeCliente">Nome</label>
                                        <input type="text" class="form-control" id="nomeCliente" onclick="fetchDataCliente()" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="cognomeCliente">Cognome</label>
                                        <input type="text" class="form-control" id="cognomeCliente" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="telefonoCliente">Telefono</label>
                                        <input type="text" class="form-control" id="telefonoCliente" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="emailCliente">Email</label>
                                        <input type="email" class="form-control" id="emailCliente" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="indirizzoCliente">Indirizzo</label>
                                        <input type="text" class="form-control" id="indirizzoCliente" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="cittaCliente">Città</label>
                                        <input type="text" class="form-control" id="cittaCliente" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="capCliente">Cap</label>
                                        <input type="text" class="form-control" id="capCliente" disabled>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>

                    <!-- Company Document -->
                    <h3>Dati Articolo</h3>
                    <section>
                        <form id="frmdatiOrdine">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="hiddenFotoPath" hidden>
                                        <label for="basicpill-pancard-input">Codice</label>
                                        <input type="text" class="form-control" id="codiceArticolo" onclick="fetchDataArticolo()" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreenArticolo">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="descrizioneArticolo">Descrizione</label>
                                        <input type="text" class="form-control" id="descrizioneArticolo" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="quantitaDisponibile">Quantità disponibile</label>
                                        <input type="text" class="form-control" id="quantitaDisponibile" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="costoUnitario">Costo unitario</label>
                                        <input type="text" class="form-control" id="costoUnitario" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="quantitaOrdine">Quantità ordine</label>
                                        <input type="text" class="form-control" id="quantitaOrdine" type="number" step="any" required>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="scontoOrdine">Sconto</label>
                                        <input type="text" class="form-control" id="scontoOrdine" type="number" step="any" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="noteArticolo">Note</label>
                                        <textarea id="noteArticolo" class="form-control" rows="2"></textarea>
                                    </div>
                                </div>                         
                            </div>
                            
                        </form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <button class="btn btn-light waves-effect" onclick="aggiungiAOrdineProvvisorio()">AGGIUNGI A CARRELLO</button>
                                </div>
                            </div>                         
                        </div>
                    </section>

                    <!-- Confirm Riepilogo -->
                    <h3>Riepilogo</h3>
                    <section>
                        <div id="riepilogoContenuto">
                        <div id="riepilogoContenuto1" class="row" >
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="invoice-title">
                                            <h4 class="float-end font-size-16">Ordine #MN0131 <span class="badge bg-success font-size-12 ms-2">Provvisorio</span></h4>
                                            <div class="text-muted">
                                                <h5 id="cliente" class="font-size-15 mb-2"></h5>
                                                <p id="indirizzo" class="mb-1"></p>
                                                <p id="email" class="mb-1"><i class="uil uil-envelope-alt me-1"></i> </p>
                                                <p id="telefono"><i class="uil uil-phone me-1"></i></p>
                                            </div>
                                        </div>
                        
                                        <hr class="my-4">
                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="text-muted">
                                                    <h5 class="font-size-16 mb-3">Spedire a:</h5>
                                                    <h5 class="font-size-15 mb-2">Co.Na.Te.Co. S.p.A.</h5>
                                                    <p class="mb-1">Varco Bausa, Napoli 80011</p>
                                                    <p class="mb-1">ced@conateco.com</p>
                                                    <p>081-553-1301</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="text-muted text-sm-end">
                                                    <div class="mt-4">
                                                        <h5 class="font-size-16 mb-1">Data ordine:</h5>
                                                        <p id="dataOrdine"></p>
                                                    </div>
                                                    <div class="mt-4">
                                                        <h5 class="font-size-16 mb-1">Ordine N°:</h5>
                                                        <p>#1123456</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        
                                        
                                        <div class="py-2">
                                            <h5 class="font-size-15">Riepilogo Ordine</h5>
                        
                                            <div class="table-responsive">
                                                <table id="tableOrdiniRiepilogo" class="table table-nowrap table-centered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 70px;">Codice</th>
                                                            <th>Articolo</th>
                                                            <th>Prezzo</th>
                                                            <th>Qta</th>
                                                            <th class="text-end" style="width: 120px;">Totale</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        <tr>
                                                            <th scope="row" colspan="4" class="text-end">Subtotale</th>
                                                            <td class="text-end">
                                                                <span>Є</span> <span id="subTotaleRiepilogo"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                                Sconto :</th>
                                                            <td class="border-0 text-end">
                                                                - <span>Є</span> <span id="scontoRiepilogo"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                                Trasporto :</th>
                                                            <td class="border-0 text-end">
                                                                <span>Є</span> <span id="TrasportoRiepilogo"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                                Tasse</th>
                                                            <td class="border-0 text-end">
                                                                <span>Є</span> <span id="tasseRiepilogo"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" colspan="4" class="border-0 text-end">Totale</th>
                                                            <td class="border-0 text-end">
                                                                <h4 class="m-0"><span>Є</span> <span id="totaleRiepilogo"></span></h4>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="d-print-none mt-4">
                                               
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- end row -->
                        <div class="float-end">
                            <form method="post" action="/stampa-ordine" onsubmit="setDivContent()">
                                <input type="hidden" name="txtContenuto" id="txtContenuto" value="">                                     
                                <button type="submit" class="btn btn-success waves-effect waves-light me-1"><i class="fa fa-print"></i></button>
                            </form>
                        </div>
                    </section>
                    
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- Dati Riepilogo Ordine --> 
    <div class="col-xl-4">
        <div class="card checkout-order-summary">
            <div class="card-body">
                <div class="p-3 bg-light mb-4">
                    <h5 class="font-size-16 mb-0">Parziale ordine <span class="float-end ml-2">#MN0124</span></h5>
                </div>
                <div class="table-responsive">
                    <table id="tableOrdiniProvvisorio" class="table table-centered mb-0 table-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0" style="width: 110px;" scope="col">Articolo</th>
                                <th class="border-top-0" scope="col">Codice</th>
                                <th class="border-top-0" scope="col">Descrizione</th>
                                <th class="border-top-0" scope="col">Qta</th>
                                <th class="border-top-0" scope="col">Prezzo</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">SubTotale :</h5>
                                </td>
                                <td>
                                    <span>Є</span> <span id="subTotale">0</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Sconto :</h5>
                                </td>
                                <td>
                                    <span>Є</span> <span id="sconto">0</span>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Trasporto :</h5>
                                </td>
                                <td>
                                    <span>Є</span> <span id="trasporto">0</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Tasse :</h5>
                                </td>
                                <td>
                                    <span>Є</span> <span id="tasse">0</span>
                                </td>
                            </tr>                              
                                
                            <tr class="bg-light">
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Totale:</h5>
                                </td>
                                <td>
                                    <span>Є</span> <span id="Totale">0</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>




<!-- jquery step -->
<script src="public/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<!-- Required datatable js -->
<script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Buttons examples -->
<script src="public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="public/assets/libs/jszip/jszip.min.js"></script>
<script src="public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- form wizard init -->
<script src="public/assets/js/pages/form-wizard.init.js"></script>
<!-- init js -->
<script src="public/assets/js/pages/ordini-inserisci.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
async function fetchDataCliente() {
    await fetch(`/lista-clienti-fetch`)
    .then(function(res){
        return res.json();
    })
    .then(function(utente){
        // Rimuovi tutte le righe esistenti
        var table = $('#datatable-buttons').DataTable();
        table.clear().draw();
        // Aggiungi nuove righe (esempio)
        var newData = [];
        utente.forEach(item => {
        const nome = (item.nome !== undefined) ? item.nome : " ";
        const cognome = (item.cognome !== undefined) ? item.cognome : " ";
        const telefono = (item.telefono !== undefined) ? item.telefono : " ";
        const email = (item.email !== undefined) ? item.email : " ";
        const indirizzo = (item.indirizzo !== undefined) ? item.indirizzo : " ";
        const citta = (item.citta !== undefined) ? item.citta : " ";
        const cap = (item.cap !== undefined) ? item.cap : " ";
        var dati = [nome, cognome, telefono, email, indirizzo, citta, cap];
        newData.push(dati);
        })
        table.rows.add(newData).draw();

        // Gestisci l'evento di clic sulla riga
        $('#datatable-buttons tbody').on('click', 'tr', function () {
            // Ottieni i dati della riga cliccata
            var data = table.row(this).data();

            // Estrai il contenuto della colonna "Nome"
            var nome = data[0]; 
            var cognome = data[1]; 
            var telefono = data[2];
            var email = data[3]; 
            var indirizzo = data[4]; 
            var citta = data[5]; 
            var cap = data[6]; 
            // Fai qualcosa con il valore del nome, ad esempio, mostra in console

            // Ottieni il riferimento al pulsante con l'ID "buttonOk"
            var buttonOk = document.getElementById("buttonOk");

            // Simula il clic sul pulsante
            if (buttonOk) {
                // Ottieni il riferimento all'elemento di input
                var inputElementfirstname = document.getElementById("nomeCliente");
                var inputElementlastname = document.getElementById("cognomeCliente");
                var inputElementphoneno = document.getElementById("telefonoCliente");
                var inputElementemail = document.getElementById("emailCliente");
                var inputElementaddress = document.getElementById("indirizzoCliente");
                var inputElementcitta = document.getElementById("cittaCliente");
                var inputElementcap = document.getElementById("capCliente");

                // Imposta il nuovo valore dell'input
                if (inputElementfirstname) {
                    inputElementfirstname.value = nome;
                    // Aggiungi l'attributo "disabled" all'elemento input
                    inputElementfirstname.disabled = true;
                    const clienteParagrafo = document.getElementById('cliente');
                    clienteParagrafo.textContent = nome + ' ' + cognome;
                }
                if (inputElementlastname) {
                    inputElementlastname.value = cognome;
                }
                if (inputElementphoneno) {
                    inputElementphoneno.value = telefono;
                    const telefonoParagrafo = document.getElementById('telefono');
                    telefonoParagrafo.textContent = telefono;
                }
                if (inputElementemail) {
                    inputElementemail.value = email;
                    const emailParagrafo = document.getElementById('email');
                    emailParagrafo.textContent = email;
                }
                if (inputElementaddress) {
                    inputElementaddress.value = indirizzo;
                    const indirizzoParagrafo = document.getElementById('indirizzo');
                    indirizzoParagrafo.textContent = indirizzo + ' ' + citta + ' ' + cap;
                }
                if (inputElementcitta) {
                    inputElementcitta.value = citta;
                }
                if (inputElementcap) {
                    inputElementcap.value = cap;
                }
                const oggi = new Date();
                const giorni = ["Dom", "Lun", "Mar", "Mer", "Gio", "Ven", "Sab"];
                const mesi = ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"];
                const giorno = oggi.getDate();
                const mese = mesi[oggi.getMonth()];
                const anno = oggi.getFullYear();
                const dataFormattata = `${(giorno < 10 ? '0' : '') + giorno} ${mese}, ${anno}`;
                const dataOrdineParagrafo = document.getElementById('dataOrdine');
                dataOrdineParagrafo.textContent = dataFormattata;

                buttonOk.click();
            }
        });
    })
}
async function fetchDataArticolo() {
    await fetch(`/lista-articoli-fetch`)
    .then(function(res){
        return res.json();
    })
    .then(function(articolo){
        // Rimuovi tutte le righe esistenti
        var tableArticolo = $('#datatable-buttons-Articolo').DataTable();
        tableArticolo.clear().draw();
        // Aggiungi nuove righe (esempio)
        var newDataArticolo = [];
        articolo.forEach(itemarticolo => {
        const codiceArticolo = (itemarticolo.codiceArticolo !== undefined) ? itemarticolo.codiceArticolo : " ";
        const descrizioneArticolo = (itemarticolo.descrizioneArticolo !== undefined) ? itemarticolo.descrizioneArticolo : " ";
        const quantitaArticolo = (itemarticolo.quantitaArticolo.$numberDecimal !== undefined) ? itemarticolo.quantitaArticolo.$numberDecimal : " ";
        const costoArticolo = (itemarticolo.costoArticolo.$numberDecimal !== undefined) ? itemarticolo.costoArticolo.$numberDecimal : " ";
        const noteArticolo = (itemarticolo.noteArticolo !== undefined) ? itemarticolo.noteArticolo : " ";
        const fotoPathArticolo = (itemarticolo.fotoPathArticolo !== undefined) ? itemarticolo.fotoPathArticolo : " ";
        var datiarticolo = [codiceArticolo, descrizioneArticolo, quantitaArticolo, costoArticolo, noteArticolo, fotoPathArticolo];
        newDataArticolo.push(datiarticolo);
        })

        tableArticolo.rows.add(newDataArticolo).draw();

        // Gestisci l'evento di clic sulla riga
        $('#datatable-buttons-Articolo tbody').on('click', 'tr', function () {
            // Ottieni i dati della riga cliccata
            var dataArticolo = tableArticolo.row(this).data();
            // Estrai il contenuto della colonna "Nome"
            var codiceArticolo = dataArticolo[0]; 
            var descrizioneArticolo = dataArticolo[1]; 
            var quantitaArticolo = dataArticolo[2];
            var costoArticolo = dataArticolo[3]; 
            var noteArticolo = dataArticolo[4];
            var fotoPathArticolo = dataArticolo[5];
            // Fai qualcosa con il valore del nome, ad esempio, mostra in console

            // Ottieni il riferimento al pulsante con l'ID "buttonOkArticolo"
            var buttonOkArticolo = document.getElementById("buttonOkArticolo");

            // Simula il clic sul pulsante
            if (buttonOkArticolo) {
                // Ottieni il riferimento all'elemento di input
                var inputhiddenFotoPath = document.getElementById("hiddenFotoPath");
                var inputcodiceArticolo = document.getElementById("codiceArticolo");
                var inputdescrizioneArticolo= document.getElementById("descrizioneArticolo");
                var inputquantitaArticolo = document.getElementById("quantitaDisponibile");
                var inputcostoArticolo = document.getElementById("costoUnitario");
                var inputnoteArticolo = document.getElementById("noteArticolo");
                
            
                // Imposta il nuovo valore dell'input
                if (inputhiddenFotoPath) {
                    inputhiddenFotoPath.value = fotoPathArticolo;
                }
                if (inputcodiceArticolo) {
                    inputcodiceArticolo.value = codiceArticolo;
                    // Aggiungi l'attributo "disabled" all'elemento input
                    inputcodiceArticolo.disabled = true;
                }
                if (inputdescrizioneArticolo) {
                    inputdescrizioneArticolo.value = descrizioneArticolo;
                }
                if (inputquantitaArticolo) {
                    inputquantitaArticolo.value = quantitaArticolo;
                }
                if (inputcostoArticolo) {
                    inputcostoArticolo.value = costoArticolo;
                }
                if (inputnoteArticolo) {
                    inputnoteArticolo.value = noteArticolo;
                }
                
                //aggiungiRiga(fotoPathArticolo,descrizioneArticolo,costoArticolo,codiceArticolo);
                buttonOkArticolo.click();
            }
        });
    })
}

function aggiungiRigaProvvisorio(fotoPathArticolo,descrizioneArticolo,quantitaOrdine,costoUnitario,codiceArticolo){
    // Seleziona la tabella
    var table = document.querySelector('#tableOrdiniProvvisorio');

    // Crea una nuova riga
    var newRow = table.insertRow(1); // L'argomento 1 indica che la riga verrà inserita all'inizio della tabella

    // Crea celle e aggiungi dati
    var Articolo = newRow.insertCell(0);
    var Codice = newRow.insertCell(1);
    var Descrizione = newRow.insertCell(2);
    var Qta = newRow.insertCell(3)
    var Prezzo = newRow.insertCell(4);
    if(!quantitaOrdine){
        quantitaOrdine = 1;
    }

    if(fotoPathArticolo){
        Articolo.innerHTML = '<th scope="row"><img src="'+fotoPathArticolo+'" alt="product-img" title="product-img" class="avatar-md"></th>';
    }
    
    Codice.innerHTML = '<td><h5 class="font-size-14 text-truncate"><a href="ecommerce-product-detail" class="text-dark">'+codiceArticolo+'</td>';
    Descrizione.innerHTML = '<td>'+descrizioneArticolo+'</td>';
    Qta.innerHTML = '<td>'+quantitaOrdine+'</td>';
    Prezzo.innerHTML = '<td>Є '+costoUnitario+'</td>';

    // Puoi personalizzare i dati e le celle come preferisci
    // Seleziona il tag td con id "subTotale"
    var subTotaleElement = document.getElementById('subTotale');
    var subTotaleRiepilogo = document.getElementById('subTotaleRiepilogo');
    // Verifica se l'elemento è stato trovato
    if (subTotaleElement) {
    // Ottieni il valore corrente come numero intero
    var valoreCorrente = parseFloat(subTotaleElement.textContent);
    // Aggiungi 1 al valore corrente
    valoreCorrente += (costoUnitario * quantitaOrdine);

    // Aggiorna il testo nel tag td con il nuovo valore
    subTotaleElement.textContent = valoreCorrente;
    subTotaleRiepilogo.textContent = valoreCorrente;
    } else {
    console.error('Elemento con id "subTotale" non trovato.');
    }

    var TotaleElement = document.getElementById('Totale');
    var totaleRiepilogo = document.getElementById('totaleRiepilogo');
    if (TotaleElement) {
    var valoreCorrenteTotale = parseFloat(TotaleElement.textContent); 
    valoreCorrenteTotale += (costoUnitario * quantitaOrdine);
    TotaleElement.textContent = valoreCorrenteTotale;
    totaleRiepilogo.textContent = valoreCorrenteTotale;
    } else {
    console.error('Elemento con id "subTotale" non trovato.');
    }
            // Ora hai aggiunto una nuova riga in alto alla tabella
}

function aggiungiRigaRiepilogo(codiceArticolo,descrizioneArticolo,quantitaOrdine,costoUnitario){
    if(!quantitaOrdine){
        quantitaOrdine = 1;
    }
    // Seleziona la tabella
    var table = document.querySelector('#tableOrdiniRiepilogo');

    // Crea una nuova riga
    var newRow = table.insertRow(1); // L'argomento 1 indica che la riga verrà inserita all'inizio della tabella

    // Crea celle e aggiungi dati
    var Codice = newRow.insertCell(0);
    Codice.innerHTML = '<h5 class="font-size-15 mb-1">'+codiceArticolo+'</h5>';
    var Descrizione = newRow.insertCell(1);
    Descrizione.innerHTML = '<h5 class="font-size-15 mb-1">'+descrizioneArticolo+'</h5><ul class="list-inline mb-0"><li class="list-inline-item">Color : <span class="fw-medium">Gray</span></li><li class="list-inline-item">Size : <span class="fw-medium">08</span></li></ul>';
    var Prezzo = newRow.insertCell(2);
    Prezzo.innerHTML = 'Є'+costoUnitario;
    var Qta = newRow.insertCell(3);
    Qta.innerHTML = quantitaOrdine;
    var Totale = newRow.insertCell(4);
    Totale.classList.add("text-end");
    Totale.innerHTML = '<span>Є</span> <span>260</span>';
    
    // Ora hai aggiunto una nuova riga in alto alla tabella
}

function aggiungiAOrdineProvvisorio() {
    // Quando il pulsante viene cliccato, chiama la funzione aggiungiRiga con fotoPathArticolo come argomento
    var hiddenFotoPathInput = document.getElementById('hiddenFotoPath');
    if (hiddenFotoPathInput) {
    var fotoPathArticolo = hiddenFotoPathInput.value;
    } 
    var inputcodiceArticolo = document.getElementById('codiceArticolo');
    if (inputcodiceArticolo) {
    var codiceArticolo = inputcodiceArticolo.value;
    } 
    var inputdescrizioneArticolo = document.getElementById('descrizioneArticolo');
    if (inputdescrizioneArticolo) {
    var descrizioneArticolo = inputdescrizioneArticolo.value;
    } 
    var inputquantitaOrdine = document.getElementById('quantitaOrdine');
    if (inputquantitaOrdine) {
    var quantitaOrdine = inputquantitaOrdine.value;
    } 
    var inputcostoUnitario = document.getElementById('costoUnitario');
    if (inputcostoUnitario) {
    var costoUnitario = inputcostoUnitario.value;
    } 
    if(codiceArticolo){
        aggiungiRigaProvvisorio(fotoPathArticolo,descrizioneArticolo,quantitaOrdine,costoUnitario,codiceArticolo);
        aggiungiRigaRiepilogo(codiceArticolo,descrizioneArticolo,quantitaOrdine,costoUnitario);
        // Definisci un array vuoto per gli oggetti
        let ordine = ordine || [];

        // Crea e aggiungi oggetti all'array
        const ordine1 = {
        codiceArticolo: 'Articolo123',
        quantitaOrdine: 5
        };
        ordini.push(ordine1);
        console.log(ordine);
    }
    

    var datiOrdineForm = document.getElementById('frmdatiOrdine');
    if (datiOrdineForm) {
        datiOrdineForm.reset();
    }
    var codiceArticoloInput = document.getElementById('codiceArticolo');
    if (codiceArticoloInput) {
    codiceArticoloInput.removeAttribute('disabled');
    }
    var descrizioneArticoloInput = document.getElementById('descrizioneArticolo');
    if (descrizioneArticoloInput) {
       // descrizioneArticoloInput.removeAttribute('disabled');
    }
    var quantitaDisponibileInput = document.getElementById('quantitaDisponibile');
    if (quantitaDisponibileInput) {
        //quantitaDisponibileInput.removeAttribute('disabled');
    }
    var costoUnitarioInput = document.getElementById('costoUnitario');
    if (costoUnitarioInput) {
        //costoUnitarioInput.removeAttribute('disabled');
    }
}

function setDivContent() {
    // Get the content of the div with id "div1"
    var divContent = document.getElementById("riepilogoContenuto").innerHTML;
    // Set the content as the value of the hidden input
    document.getElementById("txtContenuto").value = divContent;
}  
 
</script>

<%- contentFor('BottomJs') %>