<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>


<%- contentFor('body') %>



<div class="row">
    <!-- Dati Cliente/Articolo --> 
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div id="basic-example">
                    <!-- Confirm Riepilogo -->
                    <section>
                        <div class="row" id="riepilogo">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="invoice-title">
                                            <h4 class="float-end font-size-16">Ordine #MN0131 <span class="badge bg-success font-size-12 ms-2">Provvisorio</span></h4>
                                            <div class="text-muted">
                                                <p class="mb-1">Via Casa dei Miri, 8 Gragnano 80054</p>
                                                <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> admin@gmail.com</p>
                                                <p><i class="uil uil-phone me-1"></i> 081-553-1374</p>
                                            </div>
                                        </div>
                        
                                        <hr class="my-4">
                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="text-muted">
                                                    <h5 class="font-size-16 mb-3">Spedire a:</h5>
                                                    <h5 class="font-size-15 mb-2">Co.Na.Te.Co. S.p.A.</h5>
                                                    <p class="mb-1">Varco Bausa, Napoli 80011</p>
                                                    <p class="mb-1">ced@conateco.com</p>
                                                    <p>081-553-1301</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="text-muted text-sm-end">
                                                    <div class="mt-4">
                                                        <h5 class="font-size-16 mb-1">Data ordine:</h5>
                                                        <p>09 Jul, 2020</p>
                                                    </div>
                                                    <div class="mt-4">
                                                        <h5 class="font-size-16 mb-1">Ordine N°:</h5>
                                                        <p>#1123456</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        
                                        
                                        <div class="py-2">
                                            <h5 class="font-size-15">Riepilogo Ordine</h5>
                        
                                            <div class="table-responsive">
                                                <table class="table table-nowrap table-centered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 70px;">N°</th>
                                                            <th>Articolo</th>
                                                            <th>Prezzo</th>
                                                            <th>Qta</th>
                                                            <th class="text-end" style="width: 120px;">Totale</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">01</th>
                                                            <td>
                                                                <h5 class="font-size-15 mb-1">Nike N012 Running Shoes</h5>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item">Color : <span class="fw-medium">Gray</span></li>
                                                                    <li class="list-inline-item">Size : <span class="fw-medium">08</span></li>
                                                                </ul>
                                                            </td>
                                                            <td>$260</td>
                                                            <td>1</td>
                                                            <td class="text-end">$260.00</td>
                                                        </tr>
                                                        
                                                        <tr>
                                                            <th scope="row">02</th>
                                                            <td>
                                                                <h5 class="font-size-15 mb-1">Adidas Running Shoes</h5>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item">Color : <span class="fw-medium">Black</span></li>
                                                                    <li class="list-inline-item">Size : <span class="fw-medium">09</span></li>
                                                                </ul>
                                                            </td>
                                                            <td>$250</td>
                                                            <td>1</td>
                                                            <td class="text-end">$250.00</td>
                                                        </tr>
                        
                        
                                                        <tr>
                                                            <th scope="row" colspan="4" class="text-end">Subtotale</th>
                                                            <td class="text-end">$510.00</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                                Sconto :</th>
                                                            <td class="border-0 text-end">- $50.00</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                                Trasporto :</th>
                                                            <td class="border-0 text-end">$25.00</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                                Tasse</th>
                                                            <td class="border-0 text-end">$13.00</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" colspan="4" class="border-0 text-end">Totale</th>
                                                            <td class="border-0 text-end"><h4 class="m-0">$498.00</h4></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </section>
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>



<script>
    // Attiva la finestra di dialogo di stampa quando la pagina si carica
    window.onload = function() {
        window.print();
    };
</script>

<%- contentFor('BottomJs') %>