<%- contentFor('HeaderCss') %>


  

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Inserisci nuovo cliente</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/lista-clienti">Clienti</a></li>
                    <li class="breadcrumb-item active">Inserisci nuovo cliente</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<!-- inserici-cliente.ejs -->

  <form method="post" action="/upload" enctype="multipart/form-data">
    <input type="text" name="nome"><br>
    <input type="file" name="file" multiple><br>
    <button type="submit">Submit</button>
  </form>
  


  

<%- contentFor('FooterJs') %>



<!-- init js -->



<%- contentFor('BottomJs') %>